<launch>

  <rosparam command="load" file="$(find gazebo_simulation)/config/pr2_two_arm_controller.yaml" />


  <!-- Controllers that come up started -->
  <node name="two_arm_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--wait-for=calibrated --stopped two_arm_controller" />
  
</launch>
